body {
    background-color: rgb(92, 92, 92);
    font-size: 1.2rem;
    margin: 0px;
}
header {
    background-color: 
    margin: 0px;
    overflow-x: hidden;
}
#top {
    text-align: center;
    font-size: 65px;
    color: rgb(50, 104, 252);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
}
