body {
    background-color: rgb(150, 150, 150);
    font-size: 1.2rem;
    color: rgb(3, 65, 199);
    margin: 0px;
}
header {
    margin: 0px;
    overflow-x: hidden;
}
#top {
    text-align: center;
    font-size: 65px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
    background-color: rgb(211, 211, 211);
}
#photo_description {
    display: inline;
}
#photo {
    border: 5px solid rgb(211, 211, 211);
    border-radius: 50px;
    margin-left: 25%;
}
figcaption {
    background-color: rgb(211, 211, 211);
    display: inline;
    position: absolute;
    width: 300px;
    line-height: 35px;
    margin: 70px 100px;
    padding: 10px;
    font-size: 20px;
    font-style: oblique;
    font-family: sans-serif;
    border-radius: 20px;
}
#social_medias {
    display;
    margin-left: 85%;
    position: fixed;
}
nav {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
button {
    font-size: 25px;
    font-variant-ligatures: none;
    background-color: rgb(157, 191, 255);
    color: rgb(255, 255, 255);
    margin: 30px 10px;
    border: 3px solid rgb(75, 75, 75);
    border-radius: 10px;
}
main {
    font-size: 1.5rem;
    text-align: justify;
    width:900px;
    margin-left: auto;
    margin-right: auto;
    line-height: 35px;
    background-color: rgb(211, 211, 211);
}
